body{background-color:#404040;margin:50px 0 50px 0;}
label{color:#ffffff;}
.btn-answer{background-color:#670000;border-color:#580000;color:#ffffff;}.btn-answer:hover{background-color:#4e0000;color:#ffffff;}
.login-container{margin:0 auto;float:none;border-style:solid;border-color:#000000;border-width:1px;padding:10px;}

